apiVersion: apps/v1
kind: Deployment
metadata:
  name: tenant-api
  namespace: {{ .Release.Namespace }}
  labels:
    app: tenant-api
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: tenant-api
  template:
    metadata:
      labels:
        app: tenant-api
    spec:
      containers:
        - name: api
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.port }}
          env:
            - name: SERVICE_PORT
              value: {{ .Values.env.SERVICE_PORT | quote }}
          resources:
            requests:
              memory: {{ .Values.resources.requests.memory }}
              cpu: {{ .Values.resources.requests.cpu }}
            limits:
              memory: {{ .Values.resources.limits.memory }}
              cpu: {{ .Values.resources.limits.cpu }}
