replicaCount: 1
image:
  repository: "tenant-api"
  tag: latest
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 8080
resources:
  requests:
    memory: 64Mi
    cpu: 50m
  limits:
    memory: 128Mi
    cpu: 100m
env:
  SERVICE_PORT: "8080"
  LOG_LEVEL: "info"
